!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=us-ascii')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    -if (whoAmI.indexOf("index.md") < 0)
      title #{pageTitle} | Cloud9 User Documentation
    -else 
      title Cloud9 IDE User Documentation

    -if (options.development)
       link(href='./assets/stylesheets/bootstrap.css', rel='stylesheet', type='text/css', media="all")
       link(href="./assets/stylesheets/font-awesome.css", rel='stylesheet', type='text/css', media="all")
       link(href='./assets/stylesheets/docs.css', rel='stylesheet', type='text/css', media="all")
       link(href='./assets/stylesheets/default.css', rel='stylesheet', type='text/css', media="all")
    -else
       link(href="./assets/min/styles.css", rel='stylesheet', type='text/css')
       link(rel="icon", type="image/x-icon", href="./assets/img/favicon.ico")

    link(rel="stylesheet", type="text/css", href="https://swiftype-assets.a.ssl.fastly.net/assets/swiftype_overlay-3a2e7bb5cdce27f41ea7dc1ce2144c84.css")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata", rel="stylesheet", type="text/css")
  body
    iframe(id="header_iframe", height="127px", width="100%", src="", scrolling="no", frameborder="0")
    #wrapper.wrapper
      .container
        .row
          .span3
            include toc
          .span12.documentationContainer
            #content
               -if (toh.length > 1 && whoAmI.indexOf("index.md") < 0)
                 #toh_btn(onclick="toggleTOH(this)")
               -if (whoAmI.indexOf("index.md") < 0)
                 h1 #{pageTitle}

               div
                 != content
               div#disqus_thread
          .span2#tocHolder
             != headingTable(toh, 4, ['tocContainer', 'tocItem'])
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js', type='text/javascript')

        -if (options.development)
           script(src='./assets/javascripts/docs.js', type='text/javascript')
           script(src="./assets/javascripts/bootstrap.js", type="text/javascript")
           script(src="./assets/javascripts/swiftype.js", type="text/javascript")
        -else
           script(src="./assets/min/javascripts.js", type='text/javascript')
      .push
      
    footer
      iframe(id="footer_iframe", height="249px", width="100%", src="", scrolling="no", frameborder="0")