mixin format_date(mtime)
  -var m_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September",  "October", "November", "December");
  -var curr_date = mtime.getDate();
  -var sup = "";

  if (curr_date == 1 || curr_date == 21 || curr_date == 31)
   sup = "st";
  else if (curr_date == 2 || curr_date == 22)
   sup = "nd";
  else if (curr_date == 3 || curr_date == 23)
   sup = "rd";
  else
   sup = "th";
  
  -var curr_month = mtime.getMonth();
  -var curr_year = mtime.getFullYear();
  
  != m_names[curr_month] + " " + curr_date + "<sup>" + sup + "</sup>, " + curr_year 

!!! 5
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=us-ascii')
    title #{pageTitle} | Cloud9 Documentation
    link(href='./assets/csses/docs.css', rel='stylesheet', type='text/css')
    link(href='./assets/csses/bootstrap.css', rel='stylesheet', type='text/css')
  body
    a#top(name='top')
    .container-fluid
      .row-fluid
        .span3
          include toc
        .span9.documentationContainer
          #content
            .jd-descr
               h1 #{pageTitle}
               span Last modified:&nbsp;
                 mixin format_date(mtime)
               div
                 != content
          #footer.wrap
            #copyright
            #footerlinks
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='./assets/javascripts/docs.js', type='text/javascript')