
.sidebar-nav
    #search-header
       input#search-box.input.focused.span12(name='search', type='text', autocomplete='off', value='', placeholder='Search the docs')

    #doc-nav.scroll-pane
      ul#nav
        li.nav-section
          .nav-section-header
            a(href='#')
              span Features
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='applying_themes.html')
                span Applying Themes and Syntax Highlighting
            li
              a(href='collaboration.html')
                span Collaboration
            li
              a(href='colorpicker.html')
                span Color Picker
            li
              a(href='multiple_cursors.html')
                span Multiple Cursors
            li
              a(href='revisions.html')
                span Revisions
            li
              a(href='tab_functions.html')
                span Tab Functions
            li
              a(href='uploading_downloading.html')
                span Uploading Files and Downloading Your Project
            li
              a(href='zen_mode.html')
                span Zen Mode
        li.nav-section
          .nav-section-header
            a(href='#')
              span IDE Components
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='editor.html')
                span Editor Overview
            li
              a(href='console.html')
                span Console
            li
              a(href='dashboard.html')
                span Dashboard
            li
              a(href='ide_preferences.html')
                span IDE Preferences
            li
              a(href='project_bar.html')
                span Project Bar
            li
              a(href='status_bar.html')
                span Status Bar
            li
              a(href='terminal.html')
                span Terminal
        li.nav-section
          .nav-section-header
            a(href='#')
              span Tutorials
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='creating_new_account.html')
                span Creating a New Account
            li
              a(href='creating_new_workspace.html')
                span Creating a New Workspace
            li
              a(href='setting_up_github_workspace.html')
                span Setting up a GitHub Workspace
            li
              a(href='setting_up_bitbucket_workspace.html')
                span Setting up a Bitbucket Workspace
            li
              a(href='ftp_workspaces.html')
                span Creating an FTP Workspace
            li
              a(href='running_and_debugging_code.html')
                span Running and Debugging Your Code
            li
              a(href='converting_public_to_private.html')
                span Converting Public Projects to Private
        li.nav-section
          .nav-section-header
            a(href='#')
              span Workflows
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='writing_nodejs_hello_world.html')
                span Writing and Running a Node.js Hello World
            li
              a(href='creating_coffeescript_app.html')
                span Creating Coffeescript Applications
            li
              a(href='editing_wordpress_sites.html')
                span Editing Wordpress Sites
            li
              a(href='installing_npm_modules.html')
                span Installing NPM Modules
            li
              a(href='running_python_code.html')
                span Running Python Code
            li
              a(href='running_ruby_code.html')
                span Running Ruby Code
            li
              a(href='running_php_code.html')
                span Running PHP Code
            li
              a(href='run_your_own_workspace.html')
                span Running Your Own Workspace
        li.nav-section
          .nav-section-header
            a(href='#')
              span Deploying
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='deploying_code.html')
                span Deploying Your Code
            li
              a(href='deploying_to_heroku.html')
                span Deploying to Heroku
            li
              a(href='deploying_to_windows_azure.html')
                span Deploying to Windows Azure Sites
        li.nav-section
          .nav-section-header
            a(href='#')
              span FAQ
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='faq.html')
                span FAQ