
.sidebar-nav
    #search-header
      form
       input#search-box.input.focused.span3(id="st-search-input", class="st-search-input", name='search', type='text', value='', title="Press Enter for results", placeholder='Search the docs', style="width: 182px")
    div#st-results-container
    #doc-nav.scroll-pane
      ul#nav
        li.nav-section
          .nav-section-header
            a(href='index.html') Home
        // li.nav-section
        //   .nav-section-header
        //     a(href='https://www.youtube.com/user/c9ide/videos?flow=grid&view=1', target='_blank') Video Tutorials
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') Getting Started
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li.nav-submenu-item
              a(href='create_a_workspace.html') Create a workspace
            li.nav-submenu-item
              a(href='run_an_application.html') Run an application
            li.nav-submenu-item
              a(href='setup_a_database.html') Set up a database
            li.nav-submenu-item
              a(href='share_a_workspace.html') Share a workspace
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') Features
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li.nav-submenu-item
              a(href='supported_languages.html') Supported Languages
            li.nav-submenu-item
              a(href='syntax_highlighting_themes.html') Syntax Highlighting & Themes
            // li.nav-submenu-item
            //   a(href='collaboration.html') Collaboration
            // li.nav-submenu-item
            //   a(href='colorpicker.html') Color Picker
            li.nav-submenu-item
              a(href='multiple_cursors.html') Multiple Cursors
            // li.nav-submenu-item
            //   a(href='revisions.html') Revisions
            li.nav-submenu-item
              a(href='language_analysis.html') Language Analysis
            li.nav-submenu-item
              a(href='autocompletion.html') Code Autocompletion
            // li.nav-submenu-item
            //   a(href='uploading_downloading.html') Uploading Files and Downloading Your Project
            // li.nav-submenu-item
            //   a(href='gotofile_and_definition.html') Using Goto File and Goto Definition
            li.nav-submenu-item
              a(href='searching_in_files.html') Searching and Replacing in Files
            // li.nav-submenu-item
            //   a(href='git_blame.html') Git Blame
            // li.nav-submenu-item
            //   a(href='zen_mode.html') Zen Mode
            li.nav-submenu-item
              a(href='custom_runners.html') Custom Runners
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') IDE Components
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            // li.nav-submenu-item
            //   a(href='ide_overview.html') IDE Overview
            li.nav-submenu-item
              a(href='the_editor.html') The Editor
            // li.nav-submenu-item
            //   a(href='console.html') The Console
            li.nav-submenu-item
              a(href='dashboard.html') The Dashboard
            // li.nav-submenu-item
            //   a(href='project_bar.html') The Project Bar
            // li.nav-submenu-item
            //   a(href='status_bar.html') The Status Bar
            // li.nav-submenu-item
            //   a(href='terminal.html') The Terminal
            // li.nav-submenu-item
            //   a(href='ide_preferences.html') IDE Preferences
            // li.nav-submenu-item
            //   a(href='tab_functions.html') Tab Functions
            // li.nav-submenu-item
            //   a(href='keybindings.html') Commands and Keybindings
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') Creating Workspaces
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li.nav-submenu-item
              a(href='creating_new_workspace.html') Creating a New Workspace
            li.nav-submenu-item
              a(href='ssh_workspaces.html') Setting up SSH Workspaces
            li.nav-submenu-item
              a(href='setting_up_github_workspace.html') Setting up a GitHub Workspace
            li.nav-submenu-item
              a(href='setting_up_bitbucket_workspace.html') Setting up a Bitbucket Workspace
            li.nav-submenu-item
              a(href='setting_up_gitlab_workspace.html') Setting up a GitLab Workspace
            li.nav-submenu-item
              a(href='ftp_workspaces.html') Creating an FTP Workspace
            li.nav-submenu-item
              a(href='run_your_own_workspace.html') Running Your Own SSH Workspace
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') Running and Debugging Code
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li.nav-submenu-item
              a(href='running_and_debugging_code.html') Running and Debugging Your Code
            li.nav-submenu-item
              a(href='common_errors.html') Common Errors
            li.nav-submenu-item
              a(href='terminal_monitor.html') Terminal Monitor
            li.nav-submenu-item
              a(href='writing_nodejs_hello_world.html') Writing a Node.js App
              ul
                li.nav-submenu-item
                  a(href="installing_npm_modules.html") Installing NPM Modules
                li.nav-submenu-item
                  a(href="creating_coffeescript_app.html") Creating a Coffeescript App
            li.nav-submenu-item
              a(href='writing_a_python_app.html') Writing a Python App
              ul
                li.nav-submenu-item
                  a(href="installing_python_packages.html") Installing Python Packages
            li.nav-submenu-item
              a(href='writing_a_ruby_app.html') Writing a Ruby App
              ul
                li.nav-submenu-item
                  a(href="installing_ruby_gems.html") Installing Ruby Gems
                li.nav-submenu-item
                  a(href="running_a_rails_app.html") Running a Rails App
            li.nav-submenu-item
              a(href='writing_a_php_app.html') Writing a PHP App
              ul
                li.nav-submenu-item
                  a(href='editing_wordpress_sites.html') Editing Remote WordPress Websites
                li.nav-submenu-item
                  a(href="running_wordpress_on_cloud9.html") Running WordPress on Cloud9
            li.nav-submenu-item
              a(href='writing_a_go_app.html') Writing a Go App
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') Database and Persistence
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li.nav-submenu-item
              a(href='setting_up_mysql.html') Using MySQL
            li.nav-submenu-item
              a(href='setting_up_mongodb.html') Using MongoDB
            li.nav-submenu-item
              a(href='setting_up_postgresql.html') Using PostgreSQL
            li.nav-submenu-item
              a(href='setting_up_redis.html') Using Redis
            li.nav-submenu-item
              a(href='setting_up_sqlite3.html') Using SQLite
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') Deploying Code
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            // li.nav-submenu-item
            //   a(href='deploying_code.html') Deploying Your Code
            // li.nav-submenu-item
            //   a(href='deploying_to_heroku.html') Deploying to Heroku
            // li.nav-submenu-item
            //   a(href='deploying_to_windows_azure_sites.html') Deploying to Windows Azure Sites
            li.nav-submenu-item
              a(href='deploying_via_cli.html') Deploying via the Command Line
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') Popular Frameworks
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li.nav-submenu-item
              a(href='frameworks_joomla.html') Joomla
            li.nav-submenu-item
              a(href='frameworks_laravel.html') Laravel
            li.nav-submenu-item
              a(href='frameworks_meteor.html') Meteor
            li.nav-submenu-item
              a(href='frameworks_drupal.html') Drupal
            li.nav-submenu-item
              a(href='frameworks_angularjs.html') AngularJS
            li.nav-submenu-item
              a(href='frameworks_koa.html') KoaJS
            li.nav-submenu-item
              a(href='frameworks_symfony2.html') Symfony
            li.nav-submenu-item
              a(href='frameworks_ionic.html') Ionic
            li.nav-submenu-item
              a(href='frameworks_ghost.html') Ghost
            li.nav-submenu-item
              a(href='frameworks_jekyll.html') Jekyll
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)') FAQ
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li.nav-submenu-item
              a(href='faq_general.html') General
            li.nav-submenu-item
              a(href='faq_php.html') PHP
            li.nav-submenu-item
              a(href='faq_python.html') Python
            li.nav-submenu-item
              a(href='faq_ssh.html') SSH workspaces

        div.alert.alert-info These articles are <a href="https://www.github.com/c9/docs.c9.io">open source</a>! Feel free to pull and contribute.