
.sidebar-nav
    #search-header
      form
       input#search-box.input.focused.span3(id="st-search-input", class="st-search-input", name='search', type='text', value='', title="Press Enter for results", placeholder='Search the docs')

    div#st-results-container
    #doc-nav.scroll-pane
      ul#nav
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)')
              span Features
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='supported_languages.html')
                span Supported Syntax Highlighting and Themes
            li
              a(href='collaboration.html')
                span Collaboration
            li
              a(href='colorpicker.html')
                span Color Picker
            li
              a(href='multiple_cursors.html')
                span Multiple Cursors
            li
              a(href='revisions.html')
                span Revisions
            li
              a(href='language_analysis.html')
                span Language Analysis
            li
              a(href='autocompletion.html')
                span Code Autocompletion
            li
              a(href='tab_functions.html')
                span Tab Functions
            li
              a(href='uploading_downloading.html')
                span Uploading Files and Downloading Your Project
            li
              a(href='cloud9_local.html')
                span Cloud9 Local
            li
              a(href='zen_mode.html')
                span Zen Mode
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)')
              span IDE Components
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='editor.html')
                span Editor Overview
            li
              a(href='ide_preferences.html')
                span IDE Preferences
            li
              a(href='console.html')
                span The Console
            li
              a(href='dashboard.html')
                span The Dashboard
            li
              a(href='project_bar.html')
                span The Project Bar
            li
              a(href='status_bar.html')
                span The Status Bar
            li
              a(href='terminal.html')
                span The Terminal
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)')
              span Creating Workspaces
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='creating_new_workspace.html')
                span Creating a New Workspace
            li
              a(href='setting_up_github_workspace.html')
                span Setting up a GitHub Workspace
            li
              a(href='setting_up_bitbucket_workspace.html')
                span Setting up a Bitbucket Workspace
            li
              a(href='ftp_workspaces.html')
                span Creating an FTP Workspace
            li
              a(href='run_your_own_workspace.html')
                span Running Your Own Workspace
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)')
              span Running and Debugging Code
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='running_and_debugging_code.html')
                span Running and Debugging Your Code
            li
              a(href='writing_nodejs_hello_world.html')
                span Writing a Node.js App
              ul
                li
                  a(href="installing_npm_modules.html")
                    span Installing NPM Modules
                li
                  a(href="creating_coffeescript_app.html")
                    span Creating a Coffeescript App
            li
              a(href='writing_a_python_app.html')
                span Writing a Python App
              ul
                li
                  a(href="installing_python_packages.html")
                    span Installing Python Packages
            li
              a(href='writing_a_ruby_app.html')
                span Writing a Ruby App
              ul
                li
                  a(href="installing_ruby_gems.html")
                    span Installing Ruby Gems
            li
              a(href='writing_a_php_app.html')
                span Writing a PHP App
              ul
                li
                  a(href='editing_wordpress_sites.html')
                    span Editing Remote Wordpress Websites
                li
                  a(href="running_wordpress_on_cloud9.html")
                    span Running Wordpress on Cloud9
        li.nav-section
          .nav-section-header
            a(href='javascript:void(0)')
              span Deploying Code
            i.icon-chevron-down.tocNavArrow
            i.icon-chevron-up.tocNavArrow
          ul
            li
              a(href='deploying_code.html')
                span Deploying Your Code
            li
              a(href='deploying_to_heroku.html')
                span Deploying to Heroku
            li
              a(href='deploying_to_windows_azure_sites.html')
                span Deploying to Windows Azure Sites
            li
              a(href='deploying_via_cli.html')
                span Deploying via the Command Line

        div.alert.alert-info We're <a href="https://www.github.com/c9/cloud9ide-documentation">open source</a>! Feel free to pull and contribute.