div#sidebar
	nav#toc
		h5 Developer
		ul
			li
				a(href="creating_extensions.html") Creating Extensions
		h5 FAQ
			ul 
				li
					a(href="faq.html") FAQ
		h5 Features
			ul
				li
					a(href="file_handling.html") File Handling
				li
					a(href="tab_functions.html") Tab Functions
				li
					a(href="applying_themes.html") Applying Themes

		h5 IDE Components
			ul
				li
					a(href="editor.html") Editor
				li
					a(href="console.html") Console
				li
					a(href="dashboard.html") Dashboard
				li
					a(href="toolbar.html") The Toolbar
				li
					a(href="ide_preferences.html") IDE Preferences
				li
					a(href="project_bar.md") Project Bar
		h5 Troubleshooting
			ul
				li 
					a(href="cloning_from_bitbucket.html") Cloning from Bitbucket
				li
					a(href="login_issue.html") Login Issue
		h5 Tutorials
			ul
				li 
					a(href="deploy_to_heroku.html") Deploy to Heroku
				li
					a(href="deploying_your_code.html") Deploying Your Code
				li
					a(href="converting_public_to_private.html") Converting Public Projects to Private Ones
				li
					a(href="creating_coffee_script_project.html") Creating Coffeescript Projects
				li
					a(href="creating_new_account.html") Creating a New Account
				li
					a(href="creating_new_project.html") Creating a New Project
				li
					a(href="ftp_projects.html") FTP Projects
				li
					a(href="pushing_to_bitbucket.html") Pushing to Bitbucket
				li
					a(href="refreshing_project_list.html") Refreshing Project List
				li
					a(href="rename_cloned_projects.html") Renaming Cloned Projects
				li
					a(href="running_and_debugging_your_code.html") Running Your Code
				li
					a(href="setting_up_bitbucket.html") Setting up Bitbucket
				li
					a(href="setting_up_github_project.html") Setting up GitHub Projects
				li
					a(href="using_npm_and_express.html") Using NPM and Express
				li
					a(href="writing_nodejs_hello_world.html") Writing a Node.js Hello World