#js-sidebar.sidebar-shell
    .js-toggle-list.sidebar-module.expandable
        ul
          li.js-topic
            h3
              a.js-expand-btn.collapsed(href='#')
              a(href='#') Features
            ul.js-guides
              li
                a(href='applying_themes.html') Applying Themes and Syntax Highlighting
              li
                a(href='colorpicker.html') Color Picker
              li
                a(href='tab_functions.html') Tab Functions
              li
                a(href='zen_mode.html') Zen Mode
          li.js-topic
            h3
              a.js-expand-btn.collapsed(href='#')
              a(href='#') IDE Components
            ul.js-guides
              li
                a(href='editor.html') Editor Overview
              li
                a(href='console.html') Console
              li
                a(href='dashboard.html') Dashboard
              li
                a(href='ide_preferences.html') IDE Preferences   
              li
                a(href='project_bar.html') Project Bar
              li
                a(href='status_bar.html') Status Bar       
          li.js-topic
            h3
              a.js-expand-btn.collapsed(href='#')
              a(href='#') Tutorials
            ul.js-guides
              li
                a(href='creating_new_account.html') Creating a New Account
              li
                a(href='creating_new_workspace.html') Creating a New Workspace
              li
                a(href='setting_up_github_workspace.html') Setting up a GitHub Workspace  
              li
                a(href='setting_up_bitbucket_workspace.html') Setting up a Bitbucket Workspace
              li
                a(href='ftp_workspaces.html') Creating an FTP Workspace
              li
                a(href='running_and_debugging_your_code.html') Running and Debugging Your Code     
              li
                a(href='converting_public_to_private.html') Converting Public Projects to Private
             
          li.js-topic
            h3
              a.js-expand-btn.collapsed(href='#')
              a(href='#') Workflows
            ul.js-guides
              li
                a(href='writing_nodejs_hello_world.html') Writing and Running a Node.js Hello World
              li
                a(href='creating_coffeescript_app.html') Creating Coffeescript Applications
              li
                a(href='editing_wordpress_sites.html') Editing Wordpress Sites
          li.js-topic
            h3
              a.js-expand-btn.collapsed(href='#')
              a(href='#') Deployments
            ul.js-guides
              li
                a(href='deploying_your_code.html') Deploying Your Code          
              li
                a(href='deploying_to_heroku.html') Deploying to Heroku
              li
                a(href='deploying_to_windows_azure.html') Deploying to Windows Azure Sites
          li.js-topic
            h3
              a.js-expand-btn.collapsed(href='#')
              a(href='#') FAQ
            ul.js-guides
              li
                a(href='faq.html') FAQ