div#sidebar
	nav#toc
		h5 Developer
		ul
			li
				a(href="creating_extensions.html") Creating Extensions
		h5 FAQ
			ul 
				li
					a(href="faq.html") FAQ
		h5 Features
			ul
				li
					a(href="file_handling.html") File Handling
				li
					a(href="tab_functions.html") Tab Functions
				li
					a(href="applying_themes.html") Applying Themes
				li
					a(href="zen_mode.html") Activating Zen Mode
				li
					a(href="color_picker.html") Color Picker
				li
					a(href="minimap.html") The Minimap
			ul
				li
					a(href="editor.html") Editor
				li
					a(href="console.html") Console
				li
					a(href="dashboard.html") Dashboard
				li
					a(href="toolbar.html") The Toolbar
				li
					a(href="ide_preferences.html") IDE Preferences
				li
					a(href="project_bar.html") Project Bar
				li
					a(href="status_bar.html") The Status Bar
		h5 Troubleshooting
			ul
				li 
					a(href="cloning_from_bitbucket.html") Cloning from Bitbucket
				li
					a(href="login_issue.html") Login Issue
				li
					a(href="refreshing_project_list.html") Refreshing Project List
				li
					a(href="running_express.html") Running the Express Module in Cloud9 IDE
		h5 Tutorials
			ul
				li
					a(href="deploying_your_code.html") Deploying Your Code
				li 
					a(href="deploying_to_heroku.html") Deploying to Heroku
				li 
					a(href="deploying_to_windows_azure.html") Deploying to Windows Azure
				li
					a(href="converting_public_to_private.html") Converting Public Projects to Private Ones
				li
					a(href="creating_coffee_script_project.html") Creating Coffeescript Projects
				li
					a(href="creating_new_account.html") Creating a New Account
				li
					a(href="creating_new_project.html") Creating a New Project
				li
					a(href="ftp_projects.html") FTP Projects
				li
					a(href="editing_wordpress_sites.html") Editing Wordpress Sites
				li
					a(href="rename_cloned_projects.html") Renaming Cloned Projects
				li
					a(href="running_and_debugging_your_code.html") Running and Debugging Your Code
				li
					a(href="setting_up_bitbucket_project.html") Setting up Bitbucket Projects
				li
					a(href="setting_up_github_project.html") Setting up GitHub Projects
				li
					a(href="writing_nodejs_hello_world.html") Writing a Node.js Hello World