[class^="icon-"], [class*=" icon-"] {
  background-image: ""; /* reset bootstrap crap */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

img {
  vertical-align: baseline;
}

html,
body {
  min-height: 100%;
}

body {
  background: #F9F9F9;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  color: #404040;
}

.tocContainer ol {
    padding: 0;
    margin: 0 0 0 12px;
}

.alert h4 {
   font-weight: bold;
   padding-bottom: 0px;   
}

.documentationContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: width 0.15s;
    -moz-transition: width 0.15s;
}

#nav-container {
  width: 160px;
  min-height: 10px;
  margin-right: 20px;
  float: left; }

#nav {
  margin:0;
  padding:0 0 30px;
}

#nav li ul > ul {
    margin: 5px 0;
}

#side-nav {
  min-height:5px; /* silly way to avoid doc floating left when nav goes fixed */
  margin-bottom:1px;
}
#doc-nav {
  outline:none;
  width:auto;
}
  
#doc-nav h2 {
  border:0;
}

#doc-nav.fixed {
  position: fixed;
  margin:0;
  top: 20px; }

a:hover,
acronym:hover,
a code:hover,
a:hover code {
  color: #7aa1b0 !important;
  text-decoration: none;
}

a:focus,
a:active {
  color: #33b5e5 !important; }

/* nav */
#nav {
  /* section header divs */
  /* expanded section header divs */
  /* sublinks */ }
  #nav li {
    list-style-type: none;
    font-size: 14px;
    margin:0;
    padding:0;
    line-height: 15px; }
  #nav a {
    color: #555555;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
  }
  #nav .nav-section-header {
    cursor: pointer;
    position: relative;
    margin-bottom: 1px;
    margin-top: 5px;
    padding: 0 30px 0 0; }
  #nav .selected a,
  #nav .selected > .nav-section-header > a {
    color: #09C;
  }
  #nav .selected ul li a {
  /* don't highlight child items */
    color: #555555; }
  #nav .nav-section .nav-section .nav-section-header {
    /* no white line between second level sections */
    margin-bottom: 0; }
    /* section header links */
    #nav > li > div > a {
      display: block;
      color: #333333;
      font-weight: 500;
      padding: 10px 0 10px 10px; }
    #nav .nav-section-header.empty:after {
      display: none; }
    /* nested nav headers */
    #nav .nav-section .nav-section {
      position: relative;
      padding: 0;
      margin: 0; }
    #nav .nav-section li a {
    /* first gen child (2nd level li) */
      display:block;
      font-weight: normal;
      text-transform: none;
      padding: 5px 5px 5px 10px;
      font-size: 13px;
       }
    #nav .nav-section li li a {
    /* second gen child (3rd level li) */
      padding: 5px 5px 5px 10px;
       }
  #nav .expanded .nav-section-header {
    background:#e9e9e9;
    background: rgba(0, 0, 0, 0.05); }
  #nav .expanded li .nav-section-header {
    background: transparent; }
  #nav .expanded li ul {
  /* 3rd level ul */
    padding:0 10px;
  }
  #nav .nav-section > ul {
      display:none;
  }
  #nav li ul {
    overflow: hidden;
    margin: 0; }
    #nav li ul.animate-height-in {
      -webkit-transition: height 0.25s ease-in;
      -moz-transition: height 0.25s ease-in;
      transition: height 0.25s ease-in; }
    #nav li ul.animate-height-out {
      -webkit-transition: height 0.25s ease-out;
      -moz-transition: height 0.25s ease-out;
      transition: height 0.25s ease-out; }
    #nav li ul li {
      padding: 0; }
      #nav li li li {
        padding: 0; }
  #nav .expanded ul {
    }
    #nav li ul > li {
      padding:0;
    }
    #nav li ul ul li  {
      padding-left: 5px;
      border-left: 1px dotted #BBB;
      margin-left: 13px;
    }
    #nav li ul > li:last-child {
      padding-bottom:5px;
    }
    #nav .expanded > ul {
      background: rgba(0, 0, 0, 0.03);
    }
    #nav .expanded ul > li {
      /*background:#efefef;
      background: rgba(0, 0, 0, 0.03);*/
    }
    #nav .expanded ul > li li {
      background:inherit; }

.new,
.new-child {
  font-size: .78em;
  font-weight: bold;
  color: #ff3d3d;
  vertical-align:top;
  white-space:nowrap;
}

#doc-nav .totop {
  display:block;
  top:0;
  width:inherit;
  background: transparent url(../img/nav_gototop.png) no-repeat scroll 50% 50%;
  text-indent:-9999em;
}
#doc-nav .totop {
  position:fixed;
  display:none;
}
#doc-nav .totop:hover {
  background-color:#33B5E5;
}

p {
  font-size: 14px;
  line-height: 20px;
  margin: 15px 0;
}

span.menucascade {
  white-space:nowrap;
}

#content .meta {
    color: #999;
    font-size: 11px;
    font-style: italic;
    margin: 0 0 8px 3px;
}

#content {
    padding: 15px 25px;
    background: white;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#content p {
    line-height: 21px;
}

#content ul li,
#content ol li {
    padding-left: 5px;
}


pre {
    border: none;
}

pre code {
    padding: 0;
    border: 1px solid #ccc;
}

pre,
code {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    background-color: transparent;
}

code {
    color: #333;
}

a code {
  color: #08C;
}

/* Pointer link styling */
h2, h3, h4, h5, h6 {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2 a .headerLinkIcon.icon-hand-right,
h3 a .headerLinkIcon.icon-hand-right,
h4 a .headerLinkIcon.icon-hand-right,
h5 a .headerLinkIcon.icon-hand-right,
h6 a .headerLinkIcon.icon-hand-right  {
  display: inline-table;
  opacity: 0;
  vertical-align: middle;
  position: relative;
  left: -25px;
  text-decoration: none;
  color: black;
  transition: 0.1s opacity;
  -moz-transition: 0.1s opacity;
  -webkit-transition: 0.1s opacity;
}

.heading_anchor {
  color: black;
  display: block;
  top: 5px;
  left: 0;
  bottom: 0;
  position: absolute;
  padding-left: 30px;
  margin-left: -35px;
  -webkit-transition: 0.2s margin-left;
  -moz-transition: 0.2s margin-left;
}

.codeSegment {
  border-bottom: 1px solid rgba(234, 46, 73, .3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

#content {
    padding-right: 45px;
    position: relative;
}

#toh_btn {
    cursor: pointer;
    width: 22px;
    height: 18px;
    position: absolute;
    top: 10px;
    background: url(../img/toh_icon.png) 0px 0px no-repeat;
    border: 1px solid transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: border 0.2s;
    -moz-transition: border 0.2s;
}

#toh_btn.active {
    -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
    background-color: #f4f4f4;
}

#toh_btn:hover {
    border-color: #bbb;
}

#toh_btn.active:hover {
    border-color: transparent;
}

.tocContainer li {
    list-style-type: none;
}
#tocHolder {
    display: none;
}

#tocHolder > .tocContainer {
  background: #fafafa;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.55) inset;
  border-radius: 2px;
  margin-left: -39px;
  padding: 10px;
  position: fixed;
  top: 163px;
  width: 200px;
}

.tocItem > a {
    font-weight: 300;
    color: #08C;
    transition: 0.3s color;
    -webkit-transition: 0.3s color;
    -moz-transition: 0.3s color;
}
.tocItem.highlight > a {
    color: #DA196E;
}

.copyright {
    font-size: 13px;
    color: #999;
    margin-top: 10px;
}

.copyright a {
    color: #7AB7D6;
}

#topbar {
    height: 40px;
    border-bottom: 1px solid #BBB;
    margin-bottom: 10px;
    background: #DDD;
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%);
    background: -o-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%);
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#dddddd 100%);
    background: linear-gradient(to bottom,  #f7f7f7 0%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#dddddd',GradientType=0 );
}

#headerlink {
    background: url(../img/c9devlogosmaller.png) 0 3px no-repeat;
    float: left;
    height: 26px;
    display: inline-block;
    margin: 2px 25px 0 19px;
    font-size: 21px;
    padding: 11px 0 0 55px;
    font-weight: 100;
    font-family: Helvetica;
    color: #35434B;
    -moz-transition: 0.2s color;
    -webkit-transition: 0.2s color;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}

#headerlink:hover {
    text-decoration: none;
    color: #666 !important;
}

#headerlink:hover {
    text-decoration: none;
    color: #666 !important;
}

.toplink {
    float: left;
    border-left: 1px solid transparent;
    -webkit-transition: 0.2s background, 0.2s border;
    -moz-transition: 0.2s background, 0.2s border;
}

.toplink:hover {
    background: #eee;
    border-left: 1px solid #ddd;
}

.toplink.active:hover {
    border-left: 1px solid transparent;
}

.toplink a {
    display: inline-block;
    padding: 11px 25px 11px 25px;
    cursor: pointer;
    font-size: 15px;
}

.toplink.active {
    background: #555;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.toplink.active a {
    color: #fff;
}

.toplink a:hover {
    text-decoration: none;
}

.alert-heading {
    display: inline-block;
    padding-right: 5px;
    font-size: 14px;
}

li .tocNavArrow {
    display: none;
    position: absolute;
    top: 11px;
    right: 7px;
    float: right;
}

.nav-section.expanded .icon-chevron-up.tocNavArrow {
    display: block;
}

.nav-section:not(.expanded) .icon-chevron-down.tocNavArrow {
    display: block;
}

.centered {
  width: 75%;
  margin: 0px auto;
}

#search-box {
  margin-top: 20px;
}

.container {
   padding: 20px 0;
   width: 960px; 
}

.container > .row {
  margin-left: 0;
}

#footer {
  padding-bottom: 10px;
}

#nav div.alert {
  margin-top: 5px;
}

#nav div.alert a {
  color: #33B5E5;
  text-decoration: underline;
}

table .debug_tools {
  width: 181px;
}

table.ide_preferences {
   table-layout: fixed;
 }

table.ide_preferences th, table.ide_preferences td { overflow: hidden; }

table th.preferenceCol {
  width: 40%;
}

.sidebar-nav {
  padding-top: 19px;
}

footer {
    color: #666;
    background: #222;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    margin: 0 auto;
}
.push {
    height: 0px;
    overflow: hidden;
}


.span3 {
  margin: 0;
}
.sidebar-nav {
  padding-top: 0;
}
.documentationContainer {
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  width: 720px;
}

#header_iframe,
#footer_iframe {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  display: block;
}
